<h2>Manufacturer Form</h2>
<h3> Manufacturer Id: {{manufacturerId}}  - Manufacturer Name: {{oldName}}</h3>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="manufacturername" class="form-label">New Manufacturer Name</label>
        <input type="text" class="form-control" id="manufacturername" formControlName="manufacturername" />
    </div>


    <button type="submit" class="btn btn-success" [disabled]="!form.valid">
        Submit
    </button>
</form>
