<div class="container mt-4">
  <div class="row">
    <nav class="p-2 navbar navbar-expand navbar-primary bg-primary justify-content-between">
      <span class="navbar-brand">
        <strong><a href="#" routerLink="" class="text-decoration-none text-white">{{ title }}</a></strong>
      </span>
      <span>  </span>
      <ul class="navbar-nav ">
        <app-dropdown [dropdownLabel]="'Daily'" [items]="quickMenu"></app-dropdown>
        <app-dropdown [dropdownLabel]="'Manufacturers'" [items]="manufacturersMenu"></app-dropdown>
        <app-dropdown [dropdownLabel]="'Genders'" [items]="gendersMenu"></app-dropdown>
        <app-dropdown [dropdownLabel]="'Types'" [items]="typesMenu"></app-dropdown>
        <app-dropdown [dropdownLabel]="'Products'" [items]="productsMenu"></app-dropdown>
        <app-dropdown [dropdownLabel]="'Barcodes'" [items]="barcodesMenu"></app-dropdown>
      </ul>
    </nav>
  </div>
  <div class="row mt-2">
    <router-outlet></router-outlet>
  </div>
</div>