<h2>Barcode Update Form</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h4> Barcode: {{barcodeId}}</h4>
    <h3></h3>
    <h3>Product Id: {{productId}}</h3>
    <div class="mb-3">
        <label  class="form-label">Product Id</label>
        <select class="form-select" aria-label="Product Id" formControlName="productId">
            <option *ngFor="let product of products" [value]="product.productId">{{product.productId}} -
                {{product.model}}</option>

        </select>
    </div>
    <h3>Size: {{size}}</h3>
    <div class="mb-3">
        <label for="size" class="form-label">Size</label>
        <input type="text" class="form-control" id="size" formControlName="size" />
    </div>
    <h3>Quantity: {{quantity}}</h3>
    <div class="mb-3">
        <label for="quantity" class="form-label">Quantity</label>
        <input type="text" class="form-control" id="quantity" formControlName="quantity" />
    </div>


    <button type="submit" class="btn btn-success">
        Submit
    </button>
</form>

